*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .logo h2{
        color:#43806C;
        font-weight: 500;
    }
    .links ul{
        display: flex;
        list-style: none;
    }
    li a {
        text-decoration: none;
        margin: 0 15px;
        color:#43806C;
    }
    ul{
        gap: 18px;
        margin-top: 10px;
        button{
            width: 150px;
            height: 30px;
            background-color: #43806C;
            color: white;
            border: none;
            border-radius: 5px;
            position: relative;
            bottom: 6px;
            &:hover{
                background-color: transparent;
                border: 1px solid #43806C;
                box-shadow: 1px 1px 2px 1px #43806C;
                color:#43806C;
            }
        }
    }
}
.container{
   width: 100%;
   height: 100vh;
   background-image: url("./photo_2022-08-28_21-17-34.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 25px;
   .img-text{
    width: 40%;
    height: 40%;
    color:#376b5a;
   }
   input{
    width: 45%;
    height: 20%;
    border-radius: 5px 0 0 5px;
    border: none;
    
   }
   button{
    width: 20%;
    height: 20%;
    border-radius: 0  5px 5px 0;
    border: none;
    background-color: #43806C;
    color: white;
    position: relative;
    right: 5px;
    &:hover{
        background-color: white;
        color: #376b5a;
        border:1px solid #376b5a;
    }
   }
   
}
.cards{
    width: 90%;
    height: 20%;
    margin: auto;
    position: relative;
    bottom: 28%;
    background-color: white;
    display: flex;
    box-shadow: 2px 2px 5px 1px grey;
    border-radius: 5px;
    .card{
        width: 40%;
        height: 100%;
        display: flex;
        padding: 30px;
        gap: 20px;
        h5{
            font-weight: 100;
            color:#43806C;
        }
    }
}
.block{
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    .boxs{
        width: 100%;
        height: 80%;
        display: flex;
        .box{
            width: 50%;
            height: 100%;
            padding: 50px;
            img{
                width: 100%;
                height: 100%;
            }
            .img-text2{
              h3{
                 font-weight: 100;
                 color: #376b5a;
              }
              h1{
                color: #376b5a;
              }
              h4{
                font-weight: 100;
              }
              button{
                width: 10%;
                height: 20%;
                color: #2a5245;
                border-top:none ;
                border-left: none;
                border-right: none;
                border-bottom:2px solid #2a5245;
                background-color: transparent;
                &:hover{
                    background-color: #2a5245;
                    color: white;
                    border-radius: 5px;
                }
              }
            }
            
         }
    } 
}
.block2{
    width: 100%;
    height: 60vh;
    display: flex;
    .box1{
        width: 50%;
        height: 100%;
        padding: 80px;
        line-height: 50px;
        background-color: #E3EEED;
        h3{
            font-weight: 100;
        }
        h1{
            color: #2a5245;
        }
        h2{
            color: #43806C;
        }
    }
    .box2{
        width: 50%;
        height: 100%;
        background-color: #214E41;
        padding: 90px;
        color: white;
        h3{
            font-weight: 100;
            font-size: 18px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}
.table{
    width: 90%;
    height: 25%;
    margin: auto;
    display: flex;
    .col{
        width: 30%;
        padding: 20px;
        h1{
            font-size: 50px;
            color: #F0A446;
        }
        p{
            color: #1c4338;
        }
    }
}
.content{
    width: 100%;
    height: 100vh;
    background-image: url('./img/2022-08-29_14-36-41.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .img-text1{
        width: 40%;
        position: relative;
        top: 100px;
        left: 55%;
        h3{
            font-weight: 100;
            color: #214E41;
        }
        h1{
            color: #1c4338;
        }
    }
}
.fotos{
    width: 100%;
    height: 60%;
    display: flex;
    padding: 40px;
    .card{
        width: 50%;
        .card-body{
            img{
                width: 100%;
            }
        }
        .card-footer{
            h4{
                font-weight: 100;
                color:#214E41;
            }
            h5{
                color: #1c4338;
                font-size: 18px;
            }
        }
    }
}
.book{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 10%;
    .page{
        width: 50%;
        height: 100%;
        background-color:#E3EEED;
        .list{
            width: 60%;
            position: relative;
            top: 20%;
            left: 20%;
            h1{
                color: #1c4338;
            }
            button{
                width: 40%;
                height: 40px;
                background-color: #1c4338;
                border: none;
                color: white;
                border-radius: 5px;
                &:hover{
                    background-color: transparent;
                    border: 1px solid #1c4338;
                    color: #1c4338;
                }
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
        
    }
}
.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #214E41;
    color: white;
    .plitka{
        width: 25%;
        height: 50%;
        padding: 20px;
        line-height: 40px;
    }
    .plitka8{
        padding: 20px;
       line-height: 35px;
        h3{
          font-weight: 100;
        }
        input{
            width: 60%;
            height: 18%;
            border: 1px solid white;
            background-color: transparent;
            
        }
        .svg{
           gap: 30px;
        }
    }
}

@media screen and (max-width:768px){
    .navbar{
        .links li{
            display: none;
        } 
    }
    .container{
        height: 80vh;
        font-size: 6px;
        .img-text{
            width: 60%;
            height: 20%;
            position: relative;
            right: 20px;
        }
        input{
            width: 45%;
            height: 20px;
            font-size: 8px;
            padding: 5px;
        }
        button{
            width: 30%;
            height: 20px;
            font-size: 8px;
        }
    }
    .cards{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        margin-top: -10%;
        .card{
         width: 30%;
         margin-top: -35px;
         h5{
             position: relative;
             right: 20px;
         }
        }
        img{
         width: 20px;
         position: relative;
         right: 20px;
        }
    }
    .block{
        position: relative;
        .boxs{
            font-size: 10px;
            .box{
                .img-text2{
                    width: 230%;
                    position: relative;
                    right: 50px;
                    button{
                        width: 30%;
                        font-size: 10px;
                    }
                    }
                img{
                    height: 57%;
                    position: relative;
                    right: 50px;
                    width: 222%;
                }
            }
        }
    }
    .block2{
        font-size: 12px;
        position: relative;
        bottom: 200px;
        .box1{
            height: 100%;
            line-height: 25px;
            .words{
                position: relative;
                right: 58px;
                bottom: 50px;
                width: 110px;
            }
        }
        .box2{
            height: 100%;
            .word{
                h3{
                font-size: 12px;
                line-height: 15px;
                position: relative;
                right: 50px;
                bottom: 60px;
                width: 110px;
                }
            }
        }
        
    }
    .block{
        .table{
            width: 83%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            margin-top: -100px;
            .col{
               h1{
                font-size: 28px;
               }
            }
        }
    }
    .content{
        height: 80vh;
        .img-text1{
            height: 20px;
            font-size: 12px;
            h3{
                position: relative;
                right: 10px;
            }
            p{
                position: relative;
                right: 10px;
            }
            h1{
                position: relative;
                right: 10px;
            }
        }
    }
    .fotos{
        gap: 20px;
        position: relative;
        right: 25px;
        .card-footer{
            h4{
                font-size: 12px;
            }
            h5{
                font-size: 16px !important;
            }
        }
    }
    .book{
        font-size: 12px;
        .page{
           height: 90vh;
           margin-top: 64px;
           .list{
             font-size: 10px;
              position: relative;
              right: 12px;
           }
        }
    }
    .footer{
        font-size: 12px;
        height: 80vh;
        flex-wrap: wrap;
        .plitka18{
            width: 100%;
        }
        .plitka{
            width: 100%;
            background-color: #214E41;
        }
        .plitka8{
            width: 100%;
            background-color: #214E41;
        }
    }
}

